GDrive to Pinecone.json
{
  "name": "GDrive to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1dPpsFBv_S6wH9iMDtF1aYqLVH5cbKtXg",
          "mode": "list",
          "cachedResultName": "JDs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dPpsFBv_S6wH9iMDtF1aYqLVH5cbKtXg"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f7ee38e5-3fdd-4711-a3bc-80677b261591",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nGvR7u2bVYYaVudM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdoc",
          "mode": "list",
          "cachedResultName": "ragdoc"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "6b336a2b-4b70-4378-b5b4-72a8e4fdf86c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w2PNRCsStetLgIKf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        208
      ],
      "id": "875fc775-7e2b-4c62-b172-69702890fb3d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WaUd6GBJmkaSgCOQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "893b579a-b706-4d70-a31f-485a1ed6619d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "fb9cd967-5c2f-4b7c-9b9a-4f7b5b2586ae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nGvR7u2bVYYaVudM",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "726cc962-e5cb-46f6-95d9-c03d7e1939d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69246c553ee05fd9126f6167dbf09e5966bcc3cf31f8f98d9e64212489bd6973"
  },
  "id": "4FKHETrPcZSZOn4L",
  "tags": []
}