RAG wPinecone.json
{
  "name": "RAG wPinecone",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -128,
        0
      ],
      "id": "f3a1f27a-ebfd-491e-87d7-b16a09ae11bb",
      "name": "When chat message received",
      "webhookId": "01c1d2bf-5ff9-4888-bb1e-c54c68c8d05e",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are my assistant, you have access to my pinecone vector store and you can send me emails. You will extract and summarise the relevant data from the vector store and send it to me on email. You will also respond me back on the chat"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "48e03a56-39f5-48ea-bc49-e28713b0bb8f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "9897f09a-7c60-4072-b0d5-f1b576b92213",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WaUd6GBJmkaSgCOQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "dad8ba77-f0fd-454b-a936-463b80bd8137",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant Data ",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragdoc",
          "mode": "list",
          "cachedResultName": "ragdoc"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        544,
        160
      ],
      "id": "03aad621-611f-47f1-8d01-976ea40fa19a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "w2PNRCsStetLgIKf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        336
      ],
      "id": "f76bbf0e-eef6-4185-9535-39643fc37e8e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WaUd6GBJmkaSgCOQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ramona.nazarov17@gmail.com",
        "subject": "The job description you requested",
        "emailType": "text",
        "message": "=hi there:  {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        0
      ],
      "id": "09f214a5-9c47-4571-984e-0cb78f8663ae",
      "name": "Send a message",
      "webhookId": "cf5e9207-90ae-41fc-a371-fbf394235b7a",
      "credentials": {
        "gmailOAuth2": {
          "id": "YzJg8OLghavA5h4D",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d1066c7-adf4-460d-8836-ab4c79f23665",
  "meta": {
    "instanceId": "69246c553ee05fd9126f6167dbf09e5966bcc3cf31f8f98d9e64212489bd6973"
  },
  "id": "6VGxMbnn42rRmXUH",
  "tags": []
}